@keyframes enterTopRight {
  0% {
    opacity: 0;
    transform: translate(-2.5rem, -2.5rem) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

@keyframes exitTopRight {
  0% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-2.5rem, -2.5rem) scale(0);
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
